@model IEnumerable<JobOffers.Models.JobsViewModel>

@foreach (var gr in Model)
{
    <h3> @gr.JobTitle</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Researcher name</th>
            <th>Message text</th>
            <th>Sending Date</th>
        </tr>
        @foreach (var item in gr.Items)
        {
            <tr>
                <td>@item.user.UserName</td>
                <td>@item.Message</td>
                <td>@item.ApplayData</td>
            </tr>
        }
    </table>
}
